@use "../variables" as *;

.home {
  height: 100%;
  background-color: black;
  .hero {
    position: relative;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba($pureWhite, 0.9);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120vh;
      background: url("../../images/hero1.webp") center/cover no-repeat;
      // background-size: 106% 130vh;
      animation: moveBg 20s ease-in-out infinite;
      z-index: 1;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../images/hero-shape1.webp") center/cover no-repeat;
      opacity: 0.7;
      object-fit: cover;
      z-index: 2;
    }
    .hero-content {
      position: relative;
      z-index: 3;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 650px;
        left: 50%;
        transform: translateX(-50%);
        width: 85px;
        height: 85px;
        border-radius: 50%;
        z-index: 12;
        background: linear-gradient(90deg, #6c1afc 0%, #ec736c 100%);
        box-shadow: 0 0 20px rgba(108, 26, 252, 0.35); 
      }

      &::after {
        content: "";
        position: absolute;
        top: 670px; 
        left: 50%;
        transform: translateX(-50%);
        width: 28px;
        height: 38px;
        background-image: url("../../images/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 20;
        animation: icon-bounce 0.85s ease-in-out infinite; 
        pointer-events: none;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 2rem;
        padding-bottom: 80px;
        .heading {
          h1 {
            font-size: 68px;
            color: $pureWhite;
            margin-bottom: 1.5rem;
            line-height: 1.1;
            max-width: 690px;
          }
          p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            line-height: 1.6;
            color: rgba($pureWhite, 0.9);
            max-width: 570px;
            font-weight: 500;
          }
          .btn {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            background: linear-gradient(90deg, #ff6a00 0%, #980fba 100%);
            border: 2px solid rgba(144, 0, 255, 0.5);
            padding: 14px 42px;
            border-radius: 50px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: all 0.4s ease;
            box-shadow: 0 0 0 3px rgba(144, 0, 255, 0.25),
              inset 0 0 10px rgba(255, 255, 255, 0.25);
            white-space: pre;
            letter-spacing: 0.5px;
            width: 200px;
            &:hover {
              background: linear-gradient(90deg, #ff6a00 0%, #ff00b8 100%);
              border-color: transparent;
              transform: translateY(-2px);
              box-shadow: 0 0 25px rgba(238, 42, 123, 0.6),
                0 0 40px rgba(255, 106, 0, 0.4);
            }
            .sideArrow {
              position: absolute;
              right: 15px;
              top: 33%;
            }
          }
          .btn__effect--2 {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 1.2;
            &::before {
              content: attr(data-text);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              text-align: center;
              transition: all 0.4s cubic-bezier(0.85, 0, 0.2, 1);
            }

            span {
              display: inline-block;
              opacity: 0;
              transform: translateY(12px);
              transition: all 0.4s cubic-bezier(0.85, 0, 0.2, 1);
            }

            &:hover::before {
              opacity: 0;
              transform: translate(-50%, 40%);
            }

            &:hover span {
              opacity: 1;
              transform: translateY(0);
            }
            @for $i from 1 through 20 {
              &:hover span:nth-child(#{$i}) {
                transition-delay: ($i * 0.04s);
              }
            }
          }
        }

        .hero-image {
          flex: 1;
          max-width: 500px;

          img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
@keyframes moveBg {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
