.trusted-section {
  width: 100%;
  padding: 120px 50px;
  text-align: center;

  .trusted-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 60px;

    p {
      color: #dcdcdc;
      font-size: 20px;
      font-weight: 500;
    }

    .line {
      width: 300px;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .logos-container {
    width: 90%;
    margin: auto;

    .brand-logo {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      display: flex;
      align-items: center;
      height: 80px;
      cursor: pointer;
      img {
        width: 115px;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.45s ease;
      }

      &:hover {
        opacity: 1;

        img {
          filter: grayscale(0%);
          opacity: 1;
          transform: scale(1.08);
        }
      }
    }
  }
}
