@use "../variables" as *;
@import "swiper/css";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-coverflow";


.fish-swiper-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .fish-swiper {
    width: 100%;
    height: 100%;
    padding: 60px 30px;
    overflow: visible;

    .parallax-bg {
      position: absolute;
      right: -20%;
      top: -40%;
      width: 230%;
      height: 230%;
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
      background: none !important;
    }

    .swiper-slide {
      width: 350px;
      height: 480px; 
       background: linear-gradient(90deg, #b36edb, #c56cb0,#b67241) ;
      border-radius: 12px;
      position: relative;
      cursor: grab;
      transition: 0.4s ease-in-out;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.45);

      &:hover {
        transform: translateY(-8px) scale(1.02);
      }

      .cardPopout {
        height: 100%;
        padding: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 12px;
        border-radius: 8px;
      }

      h2 {
        font-size: 22px;
        margin: 0;
        font-weight: 800;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
        margin: 4px 0 12px 0;
        color: #cfcfcf;
        opacity: 0.75;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      figcaption {
        max-height: 80px;
        overflow: hidden;
        border-left: 2px solid #5853ff90;
        padding-left: 10px;

        p {
          font-size: 13px;
          color: #d7d7d7;
        }
      }

      a {
        width: 100%;
        padding: 10px 18px;
        border-radius: 5px;
        background: black;
        color: white;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        overflow: hidden;
        position: relative;
        transition: 0.4s;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 100%;
          width: 100%;
          height: 100%;
          background: #6a41ff;
          z-index: -1;
          transition: 0.4s;
        }

        &:hover {
          color: #000;
          transform: translateY(-2px);
        }

        &:hover::after {
          right: 0;
        }
      }
    }

    .swiper-scrollbar {
      --swiper-scrollbar-size: 10px;
      background: rgba(255, 255, 255, 0.2);
      height: 6px !important;
      border-radius: 4px;

      .swiper-scrollbar-drag {
        background: #7a4dff;
        border-radius: 4px;
      }
    }
  }
}
